ion-button {
    font-size: 12px; /* tamaño de fuente más pequeño */
    padding: 4px 8px; /* padding más pequeño */
    margin-left: 0; /* margen izquierdo 0 para alinear a la izquierda */
  }

  .invalid {
    --highlight-color-focused: #f53d3d;
    --highlight-color: #f53d3d;
    --border-color: #f53d3d;
    --color: #f53d3d;
  }
  