<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>{{ newUser.id ? 'Agregar Producto' : 'Agregar Nuevo Producto' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div style="margin: 20px; display: flex; justify-content: flex-start;">
      <ion-button class="small-button" (click)="navigateToHome()" expand="block" shape="round" color="primary">
        Volver
      </ion-button>
    </div>
    <ion-card-header>
      <ion-card-title>{{ newUser.id ? 'Agregar Producto' : 'Agregar Nuevo Producto' }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item [ngClass]="{'invalid': isFieldInvalid('presupuesto') && !isFieldFocused('presupuesto')}"
              (ionFocus)="onFieldFocus('presupuesto')" (ionBlur)="onFieldBlur('presupuesto')">
              <ion-label position="floating">Presupuesto</ion-label>
              <ion-input [(ngModel)]="newUser.presupuesto" (input)="onInputChange('presupuesto')"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item [ngClass]="{'invalid': isFieldInvalid('unidad')}">
              <ion-label position="floating">Unidad</ion-label>
              <ion-input [(ngModel)]="newUser.unidad" (input)="onInputChange('unidad')"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item [ngClass]="{'invalid': isFieldInvalid('producto')}">
              <ion-label position="floating">Producto</ion-label>
              <ion-input [(ngModel)]="newUser.producto" (input)="onInputChange('producto')"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item [ngClass]="{'invalid': isFieldInvalid('cantidad')}">
              <ion-label position="floating">Cantidad</ion-label>
              <ion-input [(ngModel)]="newUser.cantidad" (input)="onInputChange('cantidad'); calculateTotal()"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item [ngClass]="{'invalid': isFieldInvalid('valorunitario')}">
              <ion-label position="floating">Valor Unitario</ion-label>
              <ion-input [(ngModel)]="newUser.valorunitario" (input)="onInputChange('valorunitario'); calculateTotal()"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Valor Total</ion-label>
              <ion-input [(ngModel)]="newUser.valortotal" readonly="true"></ion-input> 
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size="12">
            <ion-item [ngClass]="{'invalid': isFieldInvalid('fechadquisicion')}">
              <ion-label position="floating">Fecha de Adquisición</ion-label>
              <ion-input [(ngModel)]="newUser.fechadquisicion" (input)="onInputChange('fechadquisicion')"></ion-input>
              <ion-button slot="end" (click)="openDatePicker()">
                <ion-icon name="calendar-outline"></ion-icon>
              </ion-button>
            </ion-item>
            
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item [ngClass]="{'invalid': isFieldInvalid('proveedor')}">
              <ion-label position="floating">Proveedor</ion-label>
              <ion-input [(ngModel)]="newUser.proveedor" (input)="onInputChange('proveedor')"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div style="margin: 20px;">
    <ion-button (click)="save()" expand="block" shape="round" color="success">
      Guardar
    </ion-button>
  </div>
  <div *ngIf="cargando" style="text-align: center;">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
</ion-content>