<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="main-title">PRODUCTOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="margin: 20px;">
    <ion-input placeholder="Filtrar por Unidad o Producto" [(ngModel)]="filtro" (ionInput)="filterChanged()" class="filter-input"></ion-input>
  </div>
  
  <div style="margin: 20px;">
    <ion-button (click)="navigateToCreateProduct()" expand="block"  color="success" class="add-button">
      Agregar Nuevo Producto
    </ion-button>
  </div>
  
  <ion-list>
    @for (user of filteredUsers; track $index) {
      <ion-item class="product-item">
        <ion-label class="info-label">
          <ion-icon name="pricetag-outline" class="info-icon"></ion-icon>
          <span class="info-text">Producto: {{user.producto}}</span>
          <br>
          <ion-icon name="cube-outline" class="info-icon"></ion-icon>
          <span class="info-text">Unidad: {{user.unidad}}</span>
          <br>
          <ion-icon name="cash-outline" class="info-icon"></ion-icon>
          <span class="info-text">Presupuesto: {{user.presupuesto}}</span>
          <br>
          <ion-icon name="clipboard-outline" class="info-icon"></ion-icon>
          <span class="info-text">Cantidad: {{user.cantidad}}</span>
          <br>
          <ion-icon name="cash-outline" class="info-icon"></ion-icon>
          <span class="info-text">Valor Unitario: {{user.valorunitario}}</span>
          <br>
          <ion-icon name="cash-outline" class="info-icon"></ion-icon>
          <span class="info-text">Valor Total: {{user.valortotal}}</span>
          <br>
          <ion-icon name="calendar-outline" class="info-icon"></ion-icon>
          <span class="info-text">Fecha de Adquisición: {{user.fechadquisicion}}</span>
          <br>
          <ion-icon name="person-outline" class="info-icon"></ion-icon>
          <span class="info-text">Proveedor: {{user.proveedor}}</span>
        </ion-label>
        
        <ion-buttons slot="end" class="action-buttons">
          <ion-button class="action-button edit-button" (click)="edit(user)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
      
          <ion-button class="action-button delete-button" (click)="delete(user)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button> 
        </ion-buttons>
      </ion-item>
    }
  </ion-list>
  
</ion-content>
