#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card {
  margin: 20px;
}

ion-card-title {
  font-size: 1.4rem;
  font-weight: bold;
}

ion-item {
  margin: 10px 0;
}

ion-button {
  margin-top: 20px;
}

ion-spinner {
  margin-top: 20px;
}

h2 {
  font-size: 1.2rem;
  margin: 0;
}

p {
  margin: 0;
  color: var(--ion-color-medium);
}


.info-label {
  display: flex;
  flex-direction: column;
}

.info-icon {
  margin-right: 5px;
}

.info-text {
  font-weight: bold;
  color: #333;
  font-size: 16px;
}

.main-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, #4f7dff, #38a0ff); /* Ejemplo de gradiente */
}

.filter-input {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.add-button {
  font-weight: bold;
  background-color: #00ffc3;
}

.info-label {
  display: flex;
  flex-direction: column;
}

.info-icon {
  margin-right: 5px;
}

.info-text {
  margin-bottom: 5px;
}

.info-label {
  margin-bottom: 8px;
}

.info-icon {
  margin-right: 8px;
  color: #777;
}

.info-text {
  color: #333;
  font-size: 14px;
}

.action-buttons {
  display: flex;
  align-items: center;
}

.action-button {
  --padding-start: 12px;
  --padding-end: 12px;
  font-size: 16px;
  font-weight: bold;
}

.edit-button {
  --background: #2196F3;
  --color: white;
}

.delete-button {
  --background: #F44336;
  --color: white;
}
.product-item {
  border-bottom: 10px solid #ccc; /* Borde inferior gris claro */
  padding-bottom: 10px; /* Espacio adicional debajo de cada elemento */
}